<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
        <h1>About Restoring Justice</h1>
        <p1>Restoring Justice is a 501(c)(3) non profit organization based in Houston, Texas. We provide holistic legal defense and social services<br>
        to clients in need of public legal defense. In addition to providing legal support, Restoring Justice provides clients with access<br>
        to social services such as nutrition, housing, clothing, transportation, immigration, disability, job training, substance abuse and others.<br>
        More than just social services, Restoring justice seeks to mitigate the effects of racial disparity and harm caused by arrests and incarcerations and to eliminate mass incarcerations.<br>
        Ultimately, Restoring Justice hopes to enact positive reform to our legal defense and criminal justice system to better enfranchise those in need of aid.</p1>
  </body>
</html>
